.c-input {
  width: 100%;
  max-width: 320px;
  height: 30px;
  margin: 10px auto 52px;
  border: none;
  padding: 10px 10px 10px 20px;
  border-radius: 30px;
  font-size: 16px;
}

.c-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(135, 206, 235, 0.4);
}

.c-input--invalid {
  box-shadow: 0 0 8px rgba(211, 26, 26, 0.9);
  margin-bottom: 10px;
}

.c-input--invalid:focus {
  box-shadow: 0 0 8px rgba(211, 26, 26, 0.9);
}

.c-input__label {
  display: block;
  font-size: 14px;
  color: white;
}

.c-input__error {
    display: flex;
    width: fit-content;
    color: red;
    padding: 12px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    border-radius: 22px;
}