.c-input {
  width: 100%;
  max-width: 320px;
  height: 30px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid lightblue;
}

.c-input:focus {
  outline: none;
  border: 1px solid skyblue;
}

.c-input--invalid {
  border: 1px solid red;
}

.c-input--invalid:focus {
  border: 1px solid red;
}

.c-input__label {
  display: block;

  font-size: 14px;
  color: white;
}

.c-input__error {
  display: block;
  color: red;
  padding: 6px;
  background: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 14px;
  border-radius: 14px;
}