.c-navbar h5 {
  display: none;
}

.c-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  padding: 5px 60px;
  margin-bottom: 20px;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.4);
}

@media (min-width: 600px) {
  .c-navbar h5 {
    display: block;
  }
}