.c-currency {
  display: inline-flex;
  flex-direction: column;

  height: 80px;
  min-width: 100px;
  max-width: 180px;
  padding:10px;

  margin: 10px auto;

  background-color: rgba(144, 199, 144, 0.05);
  border: 1px solid rgba(144, 238, 144, 0.05);
  box-shadow: 0 0 20px rgba(188, 188, 230, 0.4);

  justify-content: center;

  cursor: pointer;

  transition: 0.3s;
}

.c-currency__num {
  display: block;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin:0;
}

.c-currency__curr {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin:0;
}

.c-currency:hover {
  box-shadow: 0 0 10px lavender;
  border: 1px solid rgba(144, 238, 144, 0.25);
}

.c-currency--small {
  height: 40px;

  font-size: 14px;

}